{% extends 'base.html.twig' %}

{% block title %}Hello DishesController!{% endblock %}

{% block body %}
<section id="contact" class="relative py-16 sm:py-24 bg-gradient-to-br from-amber-50 to-white">

</section>
{% endblock %}
